################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WF_Udvoitel/obj/Debug
/WF_Udvoitel/bin/Debug
/WindowsFormsApp1
