################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ex1/bin/Debug/net6.0/ref
/Ex1/bin/Debug/net6.0
/Ex1/obj
/Ex2/bin/Debug/net6.0
/Ex2/obj
