################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ex01/bin/Debug/net6.0
/Ex01/obj
/Ex2/bin/Debug/net6.0
/Ex2/obj
/Ex3/obj
/Ex4/obj
/Ex5/obj
/Lesson4/Ex1/obj
/Lesson4/Ex2/bin/Debug/net6.0
/Lesson4/Ex2/obj
/Lesson4/Ex3/obj
/Lesson4/Ex4/obj
